<div class="article-page" *ngIf="article">

  <div class="banner">
    <div class="container">

      <h1>{{article.title}}</h1>

      <div class="article-meta">
        <a><img [src]="article.author.image" /></a>
        <div class="info">
          <a [routerLink]="['/profiles',article.author.username]" class="author">{{article.author.username}}</a>
          <span class="date">{{article.createdAt|date}}</span>
        </div>

        <button class="btn btn-sm btn-outline-secondary">
          <i class="ion-plus-round"></i>
          &nbsp;
          Follow {{article.author.username}} <span class="counter">{{article.favoritesCount}}</span>
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-sm btn-outline-primary">
          <i class="ion-heart"></i>
          &nbsp;
          Favorite Post <span class="counter">{{article.favoritesCount}}</span>
        </button>
        <button class="btn btn-sm btn-outline-primary" *ngIf="canModify" [routerLink]="['/editor',slug]">
          <i class="ion-edit"></i>&nbsp;
          edit
        </button>
        <button class="btn btn-sm btn-outline-primary" *ngIf="canModify" (click)="deleteArticle()">
          <i class="ion-trash-a"></i>&nbsp;
          delete
        </button>
      </div>

    </div>
  </div>

  <div class="container page">

    <div class="row article-content">
      <div class="col-md-12">
        <p>{{article.description}}</p>

      </div>

      <hr />


    </div>


    <div class="row">

      <div class="col-xs-12 col-md-8 offset-md-2">

        <form class="card comment-form" #f="ngForm" (ngSubmit)="postComment(f) " novalidate>
          <div class="card-block">
            <textarea class="form-control" name="body" ngModel placeholder="Write a comment..." rows="3"></textarea>
          </div>

          <div class="card-footer">
            <img [src]="" class="comment-author-img" />
            <button class="btn btn-sm btn-primary">
              Post Comment
            </button>
          </div>
        </form>

        <div class="card" *ngFor='let comment of comments'>
          <div *ngIf="comment">
            <div class="card-block">
              <p class="card-text">{{comment.body}}</p>
            </div>
            <div class="card-footer" *ngIf="comment">
              <a href="" class="comment-author">
                <img [src]="comment.author.image" class="comment-author-img" />
              </a>
              &nbsp;
              <a [routerLink]="['/profiles',comment.author.username]" class="comment-author">{{comment.author.username}}</a>
              <span class="date-posted">{{comment.createdAt|date}}</span>
              &nbsp;
              <button class="btn btn-sm btn-outline-primary" *ngIf="comment.author.username===user.username" (click)="deleteComment(comment.id)">
                <i class="ion-trash-a"></i>&nbsp;
                delete
              </button>
            </div>
          </div>
        </div>



      </div>

    </div>

  </div>

</div>